.card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  .card-title{
      color: white;
  }
 body{
    background-color: #352452;
 } 
  .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card_image  {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),       -5px -5px 30px 15px rgba(0,0,0,0.22);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
}
  
 

  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .input_color{
      background-color: #816797;
      color: white;
      font-size: 15px;
      border-radius:50px;
      -webkit-border-radius:50px;
      -moz-border-radius:50px;
      -ms-border-radius:50px;
      -o-border-radius:50px;
}
  .input_color:focus{
      background-color:#6f2773ca;
      color: white;
      font-size: 20px;
  }
  .add_btn{
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.add_btn:hover{
  background-color:black;
}
.add_btn:active{
  background-color:#520883;
}
  
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-color: #4C3575;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
/* .addcategory{
  height: 100px;
  width: 50rem;
  background-color: red;
}
  */
  .borrow_input_color{
    background-color: #816797;
    color: white;
    font-size: 15px;
    border-radius:50px;
    margin-top: 8px;
  }
  .borrow_input_color::placeholder{
    color: white;
  }
    
.borrow_input_color:focus{
  background-color: #6f2773ca;
  color: white;
  font-size: 20px;
  border-radius:50px;
  margin-top: 8px;
}

/* ///////    Navbar     */


ul{
	display: flex;
	width: 100%;
	height: 10vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
  list-style: none;
  }

li:hover {
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 800ms ease-out;
  font-size: 20px;
  font-weight: bold;
  -webkit-animation: spring 800ms ease-out;
}
li:active {
  transform: translateY(4px);
  font-size: 20px;
  color: red;
}
a {
  transform: translateY(4px);
  color: red;
}


@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}
.tbl-data{
  background-color: #DEDDFA;
}
.tbl-data:hover{
  background-color: #cbbfe0df;
}
.tbl-data:active{
  background-color: #C1F4C5;
}
.tbl_input{
  font-size: 20px;
  font-weight: bold;
}
.tbl_input:focus{
  font-size: 23px;
  background-color: black;
  color: white;
}
.addcategory h2{
  color: white;
}



/* /////////////////////// */


.glow-on-hover {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(24, 177, 57, 0.844);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(100deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
}
.add_input{
  height: 50px;
  background-color: #e9e6f0c7;
  width: 200px;
  margin-right:5px;
  background: linear-gradient(50deg, #5997ed,  #d9c8ea, #fdb7ee, #ecc1c1) ;
  font-size: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


