@import url('http://fonts.cdnfonts.com/css/telford-town');
@import url('http://fonts.cdnfonts.com/css/e-eupcave');
@import url('http://fonts.cdnfonts.com/css/brown-fox-2');
@import url('http://fonts.cdnfonts.com/css/yorkwhiteletter');
@import url('http://fonts.cdnfonts.com/css/yorkwhiteletter');
@import url('http://fonts.cdnfonts.com/css/apasih');
@import url('http://fonts.cdnfonts.com/css/snikers');
@import url('http://fonts.cdnfonts.com/css/krisan');
@import url('http://fonts.cdnfonts.com/css/geajer');
@import url('http://fonts.cdnfonts.com/css/e-entah');
.card {
    margin: 30px auto;
    width: 100px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  .card {
    margin: 50px auto;
    width: 200px;
    height: 100px;
    padding-top: 20px;
    border-radius: 40px;
    background-color:rgba(227, 221, 221, 0.273);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.card p{
  color: red;
  margin: auto;
}
  .card-title{
      color: black;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: 'e Entah', sans-serif;
                                                
  }
 body{
    background-color: rgba(236, 236, 236, 0.666)
 } 
 
  /* .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
   */
  .card_image  {
    width: 50%;
    height:35%;
    margin: auto;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

  
  .card:hover {
    transform: scale(0.9, 0.9);
    background-color:rgba(227, 221, 221, 0.534);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25),-5px -5px 30px 15px rgba(0,0,0,0.22);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
}
  
 

  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .input_color{
    background-color:rgba(227, 221, 221, 0.534);
      color:black;
      font-weight: bold;
      font-size: 18px;
      border-radius:50px;
      -webkit-border-radius:50px;
      -moz-border-radius:50px;
      -ms-border-radius:50px;
      -o-border-radius:50px;
}
  .input_color:focus{
      background-color:#a1a0a166;
      color: black;
      font-size: 20px;
  }
  .add_btn{
    border-radius:50px;
    background-color: rgba(0, 0, 0, 0.527);
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.add_btn:hover{
  background-color:rgba(0, 0, 0, 0.682);
}
.add_btn:active{
  background-color:black;
}
  .borrow_input_color{
    background-color:rgba(227, 221, 221, 0.534);
    color: black;
    font-size: 15px;
    border-radius:50px;
    margin-top: 8px;
  }
  .borrow_input_color::placeholder{
    color: black;
    font-weight: bold;
  }
    
.borrow_input_color:focus{
  background-color:rgba(74, 73, 73, 0.303);
  color: black;
  /* font-size: 20px; */
  border-radius:50px;
  margin-top: 8px;
} 
.fs-3{
  font-weight: bold;
  font-family: 'Geajer', sans-serif;
}
li {
  float: right;
	padding: 5px 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: red;
	min-width: 80px;
  list-style: none;
  font-weight: bold;
  }
.nav-link{
  /* background-color: rgba(204, 204, 204, 0.462); */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  
}
.nav-link:hover{
  background-color: #ccc;
}
.nav-link:active{
  background-color:rgba(227, 221, 221, 0.534);
}
li:hover {
  background-size: 100% 100%;
  color: #EEEEEE;
  animation: spring 800ms ease-out;
  /* font-size: 20px; */
  font-weight: bold;
  -webkit-animation: spring 800ms ease-out;
}
li:active {
  transform: translateY(4px);
  /* font-size: 20px; */
}
a {
  transform: translateY(4px);
  text-decoration: none;
}
.nav_back{
  background-color: #eae8e8ad;
}
 

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}
.tbl-data{
  background-color: #eeeeeed7;
}
.tbl-data:hover{
  background-color: #eeeeee92;
}
/* .tbl-data:active{
  background-color: red;
} */
.tbl_input{
  font-size: 20px;
  font-weight: bold;
  width: auto;

}
.tbl_input:focus{
  font-size: 23px;
  background-color: black;
  color: white;
}
.addcategory h2{
  color: black;
}
.dlt_btn{
  background-color: #111;
  color: white;
  width: 30%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* /////////////////////// */


.glow-on-hover {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.664);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(100deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
}
.add_input{
  height: 35px;
  background-color:rgba(105, 105, 105, 0.385);
  width: 200px;
  margin:5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.borrow_card{
  margin-bottom: 20px;
}
/* /////////////// login form ///////////////// */

/* ////////////////////login////////////////// */

.log_back{
  /* background-image: url("https://media.istockphoto.com/photos/cup-of-coffee-on-wooden-table-near-concrete-wall-picture-id540400602?k=20&m=540400602&s=612x612&w=0&h=_7u6xXTNJqVXkERBE6d23uVlGDEcYXvOzcFFM_wIEQQ="); */
  /* background-image: url("https://media.istockphoto.com/photos/workspace-and-copy-space-for-text-or-product-display-montage-picture-id1058353888?k=20&m=1058353888&s=612x612&w=0&h=u4sSI9-vX8x9CqdALZRPXkxYmYhxqpt049Ia9MiPgJQ="); */
  background-image: url("../public/3\ \(1\).jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%  ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* height: 1000px; */
  padding: 130px 0px 70px 0px;
}
  .main_content{
    height: auto;
    margin: 0px auto 0px;
    width: 30%;
    padding: 30px 30px;
    background-color:#86888a82;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}
                
.login_chai{
  height: 25%;
  width: 35%;
}
.login_name{
  /* font-family: 'Telford Town', sans-serif; */
  /* font-family: 'e Eupcave', sans-serif; */
  font-family: 'Brown Fox', sans-serif;
  font-size: 120%;
  /* margin-bottom: 100px; */
                                                                                                
}
.login_btn{
  background-color:#3a38459c;
  color: white;
  font-size: 20px;
  border-radius: 50px 0px 50px 0px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 50px 0px 50px 0px;
  -ms-border-radius: 50px 0px 50px 0px;
  -o-border-radius: 50px 0px 50px 0px;
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
}
.login_btn:hover{
  background-color:rgba(17, 17, 17, 0.723);
  color: white;
}
.login_btn:visited{
  background-color:rgba(17, 17, 17, 0.751);
  color: white;
}
.login_btn:active{
  background-color:rgba(17, 17, 17, 0.751);
  color: white;
}
  .input-field {
    position: relative;
    width: 100%;
    height: 30px;
    line-height:30px;
  }
  label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    transition: 0.5s all;
    cursor: text;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
  input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    padding: 1rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    background-color: #d1d1d12c;
  }
  input:invalid {
    outline: 0;
    
  }
  select option {
    /* margin: 40px; */
    background: rgba(0, 0, 0, 0.3);
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  

  input:focus,
  input:valid {
    border-color: black;
  }
  input:focus~label,
  input:valid~label {
    font-size: 15px;
    top: -18px;
    color: black;
  }
  

  @media(max-width: 584px){
    .main_content{
    width: 90%;
     
   }
  }
  @media(max-width: 459px){
    .main_content{
      width: 90%;
      padding-top: 10px;
    }
  }

  /* /////    signup    /// */



  
  .container{
    max-width: 900px;
    width: 100%;
    background-color:rgba(111, 109, 109, 0.618);
    opacity:0.8;
    padding: 5px 40px;
    margin-top: 4%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .signup_back{
    background-image: url("https://media.istockphoto.com/photos/traditional-indian-masala-tea-chai-cinnamon-anise-cardamom-sugar-next-picture-id1200072832?k=20&m=1200072832&s=612x612&w=0&h=BJHnZm5NLdyjaiZQ76DuybTE78xNYEXPXqW3ycLIq0c=");
    /* background-image: url("https://media.istockphoto.com/photos/woman-drinking-masala-chai-seminyak-bali-picture-id1289311214?k=20&m=1289311214&s=612x612&w=0&h=C133goKFWhgRxnLeozTeO5tg1dryI7yR3AoQnK2VvhY="); */
    /* background-image: url("../public/shiv.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 1000px; */
    padding: 20px 0px 10px 0px;
  
  }
  .opt{
    font-weight: bold;
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    justify-content: center;
    text-align: center;
  }
  .content form .user-details{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0; 
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    font-weight: bold;
    width: calc(100% / 2 - 20px);
  }
 .input_place::placeholder{
  font-size: 15px;
 }
  form .input-box span.details{
    display: block;
    font-weight: bold;
    font-size: 17px;
    color: #111;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 15px;
    color: black;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input::placeholder{
    color: black;
    font-weight: normal;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: black ;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   
   @media(max-width: 584px){
   .container{
    max-width: 100%;
    margin-top: 50px;
  }
  .reg_btn{
    width: 500px;
    /* position: absolute; */
    /* height: 50px; */
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      /* max-height: 300px; */
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    .container{
      background-color:rgba(128, 128, 128, 0.573);
      opacity:0.8;
      padding: 0 10px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
      margin-top: 35px;
      
    }
    .container{
      background-color:rgba(128, 128, 128, 0.573);
      opacity:0.8;
      padding: 0 10px;

    }
    .reg_btn{
      width: 100px;
    }
  }
  .title_register{
    /* font-family: 'e Entah', sans-serif; */
    text-align: center;
    font-size: 30px;
                                                
  }
  .selc{
    background-color:#d1d1d12c;
    font-weight: bold;
    border-color: rgb(194, 190, 190);
  }
  .selc:focus{
    background-color:#d1d1d12c;
  }
  .selc option{
    background-color:#d1d1d12c;
    /* font-size: 30px; */
  }
.reg_btn{
  width: 30%;
  background-color:#3a3845ac;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
}
.reg_btn:hover{
  background-color: rgba(17, 17, 17, 0.777);
}




/* ///////////////////////////////////// Progress ///////////////////////////// */

.total_progress{
  margin: 100px auto;
  /* height: 500px; */
  width: 500px;
  padding: 20px 30px;
  background-color: rgba(203, 200, 200, 0.414);
}
.progress_footer{
 display: flex;
 
}